body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h1 {
    color: green;
}

.container{
    display: flex;

    height: 290px;
    color: white;
    background-color: darkgray;
}

.r1{
    order: 3;
    background-color: red;
}
.r2{
    order: 1;
    background-color: blue;
}
.r3{
    order: 2;
    background-color: green;
}

.rect {
    width: 150px;
    height: 100px;
}